
@{
    ViewData["Title"] = "About";
}

<h2>About</h2>
<br/>
<p>This is my first web application. If you have any problems, please contact me.</p>

<p style="font-size: 10px">I can't promise you won't get spam in your mailbox. I need the money.</p>