@{
    ViewData["Title"] = "GetAPI";
}

<h2>GetAPI</h2>
<ul id="Usernames"></ul>

@section scripts{
    <script>
        $(document).ready(function () {
            $.getJSON('www.f1bets.com/api/user').done(function (users) {
                users.forEach(function (user) {
                    var html = '<li>' + user + '</li>';
                    $('#Usernames').append(html);
                });
            });
        });
    </script>
}