@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to MyCollection!</h1>
    <h2>Ready to keep track of your collection? Sign up!</h2>
</div>
<h2>Features</h2>
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>Create lists</h3>
            </div>
            <div class="panel-body">
                <h4> Create your own personal lists! Think of a good name and add a description of the items in that list!</h4>
            </div>
        </div>
    </div>
<div class="col-lg-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Create items</h3>
        </div>
        <div class="panel-body">
            <h4>Create items to add to your lists. Add a Book, Case or Media, or create you own type! Anything is possible!</h4>
        </div>
    </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>Become friends!</h3>
            </div>
            <div class="panel-body">
                <h4>Share your collection with your friends and compare your collection with theirs!</h4>
            </div>
        </div>
    </div>
</div>

