@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Title"]</h1>
<p>This site is not done</p>
<p>This site is not done</p>
<p>This site is not done</p>
<p>This site is not done</p>
<p>This site is not done</p>
<p>This site is not done</p>
<p>This site is not done</p>
<p>This site is not done</p>
<p>This site is not done</p>
<p>This site is not done</p>
<p>This site is not done</p>
<p>This site is not done</p>