@model string
@{
    ViewData["Title"] = "Error";
}

<div class="alert alert-danger" role="alert" style="margin-top: 25px;">
    <h4 class="text-danger">
        <span class="glyphicon glyphicon-alert"></span>
        @{
            switch (Model)
            {
                case "Login":
                    <text>
                    An error occured while trying to log in.
                    </text>
                    break;
                case "Database":
                    <text>
                    An error occured with the database.
                    </text>
                    break;
                default:
                    <text>
                    An error occurred while processing your request.
                    </text>
                    break;
            }
        }
    </h4>
</div>