@using Models
@model IEnumerable<Models.List>

@{
    ViewData["Title"] = "LoginFailed";
}

<h2>Login Failed</h2>

<div class="alert alert-danger" role="alert" style="margin-top: 25px;">
    <h4 class="text-danger">
        <span class="glyphicon glyphicon-alert"></span> An error has occured while logging in. Try again.
    </h4>
</div>