@model Models.User
@{
    ViewData["Title"] = "Profile";
}

<h2>@Model.Username's profile</h2>
<p>This will be a profile page. Here you will be able to find some basic information about the user and their collection. </p>